:root {
  --black: #222222;
  --white: #ffffff;
}

.theme-dark {
  background-color: var(--white);
  color: var(--black);
}

.theme-dark {
  background-color: var(--black);
  color: var(--white);
}

.main-container {
  display: grid;
}

.element {
  margin-right: 10px;
  font-size: 2em;
  padding: 10px 0;
}

.image-container {
  display: flex;
  justify-content: center;
}

.fit-picture {
  object-fit: scale-down;
  width: 250px;
  height: 250px;
  border-radius: 40px;
  cursor: not-allowed;
}

@media screen and (min-width: 90ch) {
  .main-container {
    margin: 0 60px;
    display: flex;
  }
  h1 {
    margin: 0 60px;
  }
  .notes {
    margin: 0 60px;
  }
}
